:root {
  --light-grey: #ebf2f2;
  --white: #fff;
  --black: #191e1e;
  --gray: #666;
  --green: #6db33f;
  --light-blue: #98afae;
}
ul,
ol,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.nav {
  background: var(--white);
  border-bottom: 1px solid var(--light-grey);
}
.navInnerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  padding: 0px 20px;
  margin: 0px auto;
}
.springLogo {
  display: block;
  height: 48px;
  max-width: 250px;
}
.headerBurger {
  display: none;
}
.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  min-width: 705px;
  margin: 0;
}
.navItems > li {
  flex: 1 1 auto;
  position: relative;
  margin: 0px;
  padding: 23px 0;
}
.hasSubmenu {
  color: var(--black);
  font-weight: 700;
  font-size: 0.9375rem;
  transition: all 0.3s ease-out;
}
.menuArrow {
  transform: rotate(45deg) translateY(-6px);
  border: solid var(--black);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}
.menuSublist {
  transform: translate(20px, 0px);
  position: absolute;
  top: 100%;
  left: 0;
  width: 180px;
  border-radius: 5px;
  background-color: var(--white);
  padding: 37px 30px 27px 30px;
  opacity: 0;
  margin: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0 5px 30px 0 rgb(108 135 135 / 50%);
}
.menuSublist li {
  margin: 0px 0px 10px 0px;
}
.menuSublist li:last-child {
  margin: 0;
}
.menuLink {
  color: var(--black);
  font-weight: 700;
  font-size: 0.9375rem;
  transition: all 0.3s ease-out;
}
.menuLink:hover {
  color: var(--green);
}
.menuSublink {
  color: var(--black);
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-decoration: none;
}
.menuSublink:hover {
  color: var(--green);
}
.blueLink {
  color: blue;
}
.blueLink:hover {
  color: var(--green);
}
.uppercaseText {
  padding-top: 20px;
  font-weight: 500;
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.menuSublink {
  color: var(--black);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.menuSublink:hover {
  color: var(--green);
}
.externalLinkIcon {
  height: 12px;
  width: 12px;
  margin-left: 5px;
}
.logOutButton {
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 5px;
  background-color: var(--green);
  cursor: pointer;
  transition: all 0.2s ease;
}
.logOutButton:hover {
  background-color: var(--black);
}
@media (min-width: 1100px) {
  .navItems > li:hover .menuSublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }
}
@media (max-width: 1100px) {
  .springLogo {
    height: 30px;
  }
  .menuSublist {
    transform: translate(0px, 0px);
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    border-radius: 5px;
    background-color: var(--white);
    padding: 15px 30px 27px 30px;
    opacity: 0;
    margin: 0;
    z-index: 5;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0 5px 30px 0 rgb(108 135 135 / 50%);
  }
  .navItems > li {
    align-items: center;
  }
  .navItems > li.active .menuSublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }
  .navItems > li.active .menuArrow {
    transform: rotate(-135deg);
    bottom: 0px;
  }
  .hasSubmenu {
    flex: 1 1 auto;
  }
  .menuArrow {
    position: relative;
    bottom: 3px;
    transform: rotate(45deg) translateY(0);
    border: solid var(--black);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 3px;
    margin-left: 10px;
    transition: transform 0.3s ease 0s;
  }
}
@media (max-width: 900px) {
  .springLogo {
    height: 30px;
  }
  .headerBurger {
    z-index: 5;
    display: block;
    position: relative;
    width: 19px;
    height: 14px;
    cursor: pointer;
    margin: 15px 0px 15px 0px;
  }
  .headerBurger span,
  .headerBurger::before,
  .headerBurger::after {
    left: 0;
    position: absolute;
    height: 3px;
    width: 100%;
    transition: all 0.7s ease 0s;
    background-color: var(--black);
  }
  .headerBurger::before,
  .headerBurger::after {
    content: '';
  }
  .headerBurger::before {
    top: 0;
  }
  .headerBurger::after {
    bottom: 0;
  }
  .headerBurger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .headerBurgeractive::before {
    transform: rotate(45deg);
    top: 8px;
    left: -3px;
    height: 2px;
    width: 25px;
    background-color: var(--white);
  }
  .headerBurgeractive::after {
    transform: rotate(-45deg);
    bottom: 4px;
    left: -3px;
    height: 2px;
    width: 25px;
    background-color: var(--white);
  }
  .headerBurgeractive span {
    transform: scale(0);
  }
  .menuBody {
    display: block;
    position: fixed;
    top: -500%;
    left: 0;
    right: 0;
    width: auto;
    max-height: 0;
    overflow: hidden;
    background-color: var(--black);
    padding: 80px 60px 60px 40px;
    transition: max-height 0.7s ease-out, top 0.7s ease-out 0s;
  }
  .menuBodyactive {
    top: 0%;
    bottom: 0;
    overflow: auto;
    max-height: 1000px;
    transition: max-height 0.7s ease 0s, top 0.7s ease;
    z-index: 4;
  }
  .navItems {
    display: block;
    min-width: auto;
  }
  .navItems > li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid var(--gray);
    padding: 15px 0;
    transform-origin: top;
    overflow: hidden;
    height: auto;
  }
  .navItems > li.active {
    border-bottom: none;
  }
  .navItems > li:last-child {
    margin-bottom: 0;
  }
  .navItems > li > a {
    font-size: 1.8rem;
    color: var(--white);
    z-index: 1;
  }
  .navItems > li.active .menuSublist {
    padding: 15px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
    border-top: 1px solid var(--gray);
    background-color: var(--black);
    max-height: 600px;
    transition: max-height 3s ease, opacity 0.3s ease;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .menuArrow {
    border-color: var(--light-blue);
    border-width: 0 2px 2px 0;
    padding: 5px;
    margin-right: 15px;
  }
  .menuSublist {
    box-shadow: none;
    opacity: 0;
    position: relative;
    transform: none;
    top: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
    transition: none;
    transition: max-height 0.8s ease;
  }
  .blueLink {
    color: var(--light-blue);
    font-size: 25px;
    margin-bottom: 5px;
  }
  .menuSublist li {
    margin: 0px 0px 10px 0px;
  }
  .menuSublist li:last-child {
    margin: 0;
  }
  .uppercaseText {
    color: var(--white);
    padding: 20px 0 10px 0;
    font-size: 0.8rem;
  }
  .menuSublink {
    color: var(--light-blue);
    font-size: 25px;
  }
  .logOutButton {
    margin-right: 300px;
  }
}
@media (max-width: 700px) {
  .logOutButton {
    margin-right: 100px;
  }
}
@media (max-width: 400px) {
  .logOutButton {
    margin-right: 20px;
  }
}
