html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 100%;
  font-family: Open Sans, sans-serif;
}
body {
  overflow: auto; /* добавить полосу прокрутки */
}
main {
  min-height: 100%;
}
